.deps
.libs
*.swp
ac*.m4
autom4te.cache
configure
configure.in
config.guess
config.h*
config.log
config.nice
config.status
config.sub
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
*.la
*.lo
*.so
*.screw
*.discrew
build
modules
*~
Makefile
Makefile.g*
Makefile.f*
Makefile.o*
tools/screwim
tools/test
tags
z
