.deps
.libs
*.swp
ac*.m4
autom4te.cache
configure*
config.guess
config.h*
config.log
config.nice
config.status
config.sub
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
*.la
*.lo
*.so
build
modules
*~
Makefile
Makefile.g*
Makefile.f*
Makefile.o*
tools/screw
tools/test*
tags
